
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="card">
		<div class="card-header">
			<p class="text-primary">Nova Casa de Show</p>
		</div>
		<div class="alert alert-primary" th:if="${mensagemValida != null}"
					th:text="${mensagemValida}"></div>
		<div class="card-body">
			<form method="POST" th:object="${casaDeShow}" th:action="@{/casa}">
			<input type="hidden" th:field="*{id}">
				<div class="form-group mb-3">
					<label for="nome">Casa de Show:</label> 
					<input	class="form-control" type="text" th:field="*{nome}" required></input>
					<div class="test-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
					<div class="form-group mb-3">
					<label for="nome">Endereço:</label> 
					<input	class="form-control" type="text" th:field="*{endereco}" required></input>
					<div class="test-danger" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></div>
				</div>
				<button type="submit" class="btn btn-primary mb-3">Salvar
					Casa de Show</button>
					<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
					Nenhuma casa de show cadastrada!</div>
				<div class="alert alert-primary" th:if="${mensagem != null}"
					th:text="${mensagem}"></div>
					<div th:if="${not #lists.isEmpty(lista)}">
		<table class="table table-striped table-dark">
			<thead class="bg-dark text-white">
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Endereço</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="casaDeShow : ${lista}">
					<td th:text="${casaDeShow.id}"></td>
					<td th:text="${casaDeShow.nome}"></td>
					<td th:text="${casaDeShow.endereco}" ></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/casa(id=${casaDeShow.id})}">Editar</a>
					<a class="btn btn-primary btn-sm" th:href="@{/casa/excluir(id=${casaDeShow.id})}" onclick="return confirm('Você realmente deseja excluir essa casa de show?')">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>		
					
			</form>
		</div>
	</div>
</div>
</html>